body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #000;
  background: #e6ecf0;
}
.grid {
  overflow: hidden;
  /*padding: 0.5em 0 0 0.5em;*/
  max-width: 90em;
  margin: 10px auto;
}
.items {
  padding: 0;
  width: 60.3333333%;
  list-style-type: none;
  float: left;
}
.items-one {
  padding: 0;
  width: 27.333%%;
  list-style-type: none;
  float: left;
  background-color: white;
}
.items-color {
  background-color: white;
  /*margin: 29px 0, 0, 20px;*/
  margin-left: 12px;
}
fieldset {
  border: medium none !important;
  margin:-12px 0px 16px;
  padding: 0;
  width: 100%;
}

textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}
th, td {
  padding: 5px;
  margin: 5px 5px 5px 5px;
  margin-left: 100px;
}
